 * {
     box-sizing: border-box;
 }



 .image {
     display: flex;
     justify-content: center;
     clear: right;
     padding-top: 93px;     
 }



 .topmargin {
     float: right;
 }
 .topmargin a {
     padding: 0 10px;
     text-decoration: none;
 }



 .form {
     margin-top: 25px;
}



 .form > .text {
     width: 40%;
     height: 45px;
     border-radius: 15px;
     border: 1px solid lightgray;
     display: flex;
     margin-left: 455px;
 }



 .form > .text:focus {
     outline: none;
 }



 .divbutton {
     display: flex;
     justify-content: center;
 }
 .divbutton > .button1,
 .divbutton > .button2 {
     width: auto;
     height: 40px;
     font-size: 14px;
     border: 0;
     background-color: white;
 }
 .divbutton > .button1 {
     padding: 2px 15px;
 }
 .divbutton > .button2 {
     margin-left: 15px;
     padding: 2px 10px;
 }



 .divbutton > .button1:hover,
 .divbutton > .button2:hover,
 .form > .text:hover  {
     border-bottom: 2px solid lightgray;
     box-shadow: 0px 1px 3px gray;
 }



 .divbutton > .button1:hover,
 .divbutton > .button2:hover {
     cursor: pointer;
 }



  @media screen and (max-width:600px) and (min-width:0px) {
     .form > .text {
         width: 90%;
         margin-left: auto;
         margin-right: auto;  
     }
     .image {
         padding-top: 75px;
     }
 }



 @media screen and (min-width:601px) and (max-width:750px) {
     .form > .text {
         width: 80%;
         margin-left: auto;
         margin-right: auto;
     }
     .image {
         padding-top: 70px;
     }
 }



 @media screen and (min-width:751px) and (max-width:1000px) {
     .form > .text {
         width: 60%;
         margin-left: auto;
         margin-right: auto;
     }
     .image {
         padding-top: 70px;
     }
 }



 @media screen and (min-width:1001px) and (max-width:1500px) {
     .form > .text {
         width: 47%;
         margin-left: auto;
         margin-right: auto;
     }
     .image {
         padding-top: 70px;
     }
 }



 @media screen and (min-width:1501px) and (max-width:2500px) {
     .form > .text {
         width: 40%;
         margin-left: auto;
         margin-right: auto;
     }
     .image {
         padding-top: 90px;
     }
 }

